.main-header__left-box
  .main-header__left-box__name
    -# = message.user.name
    test group1
  .main-header__left-box__member
    Member : test
.main-header__edit
  = link_to 'Edit', "#", class: "main-header__edit__edit-btn"
