.side-bar
  .side-bar__top
    .side-bar__top__items
      .side-bar__top__items__name
        okkun
      %ul.side-bar__top__items__icons
        %li.side-bar__top__items__icons__edit-btn
          = link_to "#", class: "side-bar__top__items__icons__edit-btn__btn" do
            = icon('fa', 'edit')
        %li.side-bar__top__items__icons__cog-btn
          = link_to "#", class: "side-bar__top__items__icons__cog-btn__btn" do
            = icon('fa', 'cog')

  .side-bar__group-list
    .side-bar__group-list__group
      -# = link_to ""
      .side-bar__group-list__group__group-name
        techcamp
      .side-bar__group-list__group__latest-message
        まだメッセージがありません
      
    .side-bar__group-list__group
      .side-bar__group-list__group__group-name
        techcamp
      .side-bar__group-list__group__latest-message
        まだメッセージがありません


-# 下記の記述方式で書きたかったが、なぜかeditとcongは表示できなかった。なぜだ？
-#   = link_to "#", class: "edit__btn" do
-#     = icon('fas', 'fa-edit')
          -# %i.fas.fa-edit