* {
  box-sizing: border-box;
}

//フォントサイズ
$side_top_font : 16px;
$side_group_name : 15px;
$side_group_message : 11px;

.wrapper{
  width  : 100vw;
  height : 100vh;
  display: flex;
  @import "modules/side_bar";
  @import "modules/chat_main";
}